@model PustokMvcApp.Models.Author
<div class="table-responsive p-0">
    <table class="table align-items-center mb-0">
        <tbody>
            <tr>
                <td><strong>Id:</strong></td>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <td><strong>Full Name:</strong></td>
                <td>@Model.FullName</td>
            </tr>
        </tbody>
    </table>
</div>